[submodule "slam_validation"]
	path = slam_validation
	url = https://github.com/cds-mipt/slam_validation.git
[submodule "SOLO"]
	path = SOLO
	url = https://github.com/cds-mipt/SOLO
[submodule "cdxslam"]
	path = cdxslam
	url = https://github.com/cds-mipt/cdxslam.git
